{{ define "main" }}
<section class="normal-page">
    <article id="side-navigation">
        <article id="toggle-side-navigation-container">

            <button id="toggle-side-navigation" onClick="toggleSideNav()">Show Articles</button>

            {{ range last 1 .Pages }}
            <a href="{{.Permalink}}" id="next"> &gt;&gt; </a>
            {{ end }}

        </article>
        <ul id="side-navigation-list">

            <li class="side-navigation-section active">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>

            {{ range .Pages.Reverse }}
                <li class="side-navigation-item">
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
            {{ end }}

        </ul>
    </article>
    <section id="container">
        <article id="content">
            <header id="content-header">
            <h1 id="content-title"> {{.Title}} </h1>
            <div id="subtitle">
                <div> {{ .Description }} </div>
            </div>
            </header>
            <section id="content-body">
                {{ .Content }}
            </section>
        </article>
    </section>
</section>
{{ end }}
