{{ define "main" }}

<section
    id="hero-background"
>
    <img
        id="hero-background-image"
        src="{{.Site.BaseURL}}/img/background-desktop.png"
    >
</section>
<section class="hero">
    <section class="hero-container">
        <article id="hero-mobile-image-container">
            <img id="hero-mobile-image" src="{{.Site.BaseURL}}/img/background-mobile.png">
        </article>
      <article id="landing-text">
        <h1 id="landing-title">CIGMAH</h1>
        <h2 id="landing-subtitle">Coding Interest Group in Medicine and Healthcare</h2>
        <p id="landing-paragraph">A group for medical students interested in computer programming.</p>
        <a id="landing-button" href="{{.Site.BaseURL}}/resources/">How do I start coding?</a>
      </article>
    </section>
</section>

{{ end }}
